In [10]:
print('Halo, Rama!')

Halo, Rama!

~ Menggunakan `format %s untuk string`

In [11]:
my_name = 'Ella'

In [12]:
print('Nama : %s' %my_name)

Nama : Ella

~ Menggunakan `format %d untuk int`

In [13]:
nilai = 100

In [14]:
print('Nilainya adalah', nilai)

Nilainya adalah 100

In [15]:
print('Nilainya adalah %d' %nilai)

Nilainya adalah 100

### Keyword input : `input(args)`

In [16]:
nama = input('Masukkan nama lengkap : ')

Masukkan nama lengkap : Adin Rama Ariyanto Putra

In [17]:
print('Nama lengkap saya adalah', nama)

Nama lengkap saya adalah Adin Rama Ariyanto Putra

### Latihan 1

In [18]:
x = input('Masukkan angka : ')

Masukkan angka : 368

In [19]:
x # secara default input user akan bertipe data str

'368'

In [20]:
int(x) # melakukan konversi dari tipe data str ke int

368

In [21]:
float(x) # melakukan konversi dari tipe data str ke float

368.0

### Latihan 2

In [31]:
a = int(input('Masukkan angka pertama = '))
b = int(input('Masukkan angka kedua = '))

Masukkan angka pertama = 19
Masukkan angka kedua = 7

In [32]:
print('Jumlah dari %d + %d = %d' %(a,b,(a+b)))

Jumlah dari 19 + 7 = 26